body {
    background-color: #ffffff;
    font-family: 'Proxima Nova', sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White font color */
    position: relative;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right; /* Align the menu to the right */
}

nav li {
    display: inline;
    margin-left: 20px; /* Adjust margin to create space between menu items */
}

/* Add hover effect for menu items */
nav a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
}

nav a:hover {
    color: #cccccc; /* Change font color on hover */
}
