body {
    background-color: #ffffff;
    font-family: 'Proxima Nova', sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #FFEB3B;
  padding: 20px 10px;
}

.wrap-logo {
  display: flex;
  align-items: center;
 
}

header a {
  color: #000;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  border-radius: 4px;
  font-color: ffffff;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
font-color: ffffff;
}

header a:hover {
  background-color: #FBC02D;
  color: #212121;
}

header a.active {
  background-color: #FBC02D;
}

